# Exploring Crawled Reddit Data

In [1]:
import os
import sys
from pathlib import Path
from os import PathLike

import json
from typing import Dict, Any

from urllib import parse

from datetime import date, datetime

import multiprocessing
import mysql.connector
import mysql.connector.pooling

In [2]:
import dataclasses
from dataclasses import dataclass

In [3]:
@dataclass
class Submission:
    is_self: bool
    name: str
    selftext: str
    subreddit_id: str   # this is actually the full name of the subreddit t5_subredditID
    author_fullname: str    # this is the full name of the author t2_authorID
    created: int
    topic: str  # search query that yielded this submission

In [4]:
data_dir = Path.cwd() / 'data/PushShiftAndRedditAPICrawler-output'
submissions_comments_files = list(data_dir.glob('*.json'))
submissions_comments_files[:3]

[WindowsPath('D:/gatech/courses/cs-6471-computational-social-science/project/utils/reddit/data/PushShiftAndRedditAPICrawler-output/q=privacy+policy&before=1546923600&after=1546318800&size=100&fields=id-t3_abhq6i.json'),
 WindowsPath('D:/gatech/courses/cs-6471-computational-social-science/project/utils/reddit/data/PushShiftAndRedditAPICrawler-output/q=privacy+policy&before=1546923600&after=1546318800&size=100&fields=id-t3_abi6je.json'),
 WindowsPath('D:/gatech/courses/cs-6471-computational-social-science/project/utils/reddit/data/PushShiftAndRedditAPICrawler-output/q=privacy+policy&before=1546923600&after=1546318800&size=100&fields=id-t3_abiah9.json')]

In [11]:
submissions = []

for f in submissions_comments_files:
    data: Dict[str, Any] = json.load(
        f.open('r', encoding='utf-8')
    )
    topic = parse.parse_qs(f.stem)['q'][0]
    submission = data['submission']['data']
    comments = data['comments']

    try:
        submissions.append(Submission(
            is_self=submission.get('is_self'),
            name=submission.get('name'),
            selftext=submission.get('selftext'),
            subreddit_id=submission.get('subreddit_id'),
            author_fullname=submission.get('author_fullname'),
            created=int(submission.get('created')),
            topic=topic
        ))
    except Exception as e:
        print(e)

In [12]:
submissions[0]

Submission(is_self=True, name='t3_abhq6i', selftext='[deleted]', subreddit_id='t5_2qhlc', author_fullname=None, created=1546344380, topic='privacy policy')

In [15]:
# write to database
insert_submission = "insert into submissions (is_self, name, selftext, subreddit_id, author_fullname, created, topic) values (%s, %s, %s, %s, %s, %s, %s)"

connection = mysql.connector.connect(
    user='root',
    host='localhost',
    database='cs6471',
    pool_name='python',
    pool_size=multiprocessing.cpu_count()
)

for s in submissions:
    cursor = connection.cursor()
    cursor.execute(
        insert_submission,
        dataclasses.astuple(s)
    )
    print(f'Written submission {s.name} to database.')
    cursor.close()

connection.commit()
connection.close()

Written submission t3_abhq6i to database.
Written submission t3_abi6je to database.
Written submission t3_abiah9 to database.
Written submission t3_abltgc to database.
Written submission t3_ablxx1 to database.
Written submission t3_abm08t to database.
Written submission t3_abm5w0 to database.
Written submission t3_abm8pa to database.
Written submission t3_abnffw to database.
Written submission t3_abog2j to database.
Written submission t3_abpfe9 to database.
Written submission t3_absycb to database.
Written submission t3_abt5z2 to database.
Written submission t3_abv30r to database.
Written submission t3_abvu1f to database.
Written submission t3_abx9x3 to database.
Written submission t3_abxght to database.
Written submission t3_abxjpw to database.
Written submission t3_abytcj to database.
Written submission t3_ac0yyo to database.
Written submission t3_ac1iet to database.
Written submission t3_ac2q9q to database.
Written submission t3_ac2ypm to database.
Written submission t3_ac4zev to database.
Written submission t3_ac51a5 to database.
Written submission t3_ac52av to database.
Written submission t3_ac5xul to database.
Written submission t3_ac61r1 to database.
Written submission t3_ac660l to database.
Written submission t3_ac6vr7 to database.
Written submission t3_ac9bo3 to database.
Written submission t3_ac9zk5 to database.
Written submission t3_acat7j to database.
Written submission t3_acbs4v to database.
Written submission t3_acdzsh to database.
Written submission t3_acepf7 to database.
Written submission t3_acfzqw to database.
Written submission t3_ach4ly to database.
Written submission t3_achdif to database.
Written submission t3_acld94 to database.
Written submission t3_acn9q2 to database.
Written submission t3_acnp6v to database.
Written submission t3_acp4cy to database.
Written submission t3_acpfdz to database.
Written submission t3_acqoxu to database.
Written submission t3_acqrdj to database.
Written submission t3_acqt3m to database.
Written submission t3_acrdx4 to database.
Written submission t3_acsnom to database.
Written submission t3_acu7ou to database.
Written submission t3_acuc7q to database.
Written submission t3_ad10fz to database.
Written submission t3_ad1poo to database.
Written submission t3_ad3rrg to database.
Written submission t3_ad3s4z to database.
Written submission t3_ad4vnh to database.
Written submission t3_ad500g to database.
Written submission t3_ad51p8 to database.
Written submission t3_ad65l1 to database.
Written submission t3_ad7ujf to database.
Written submission t3_ad9kwt to database.
Written submission t3_ad9ot7 to database.
Written submission t3_ad9s44 to database.
Written submission t3_adazxk to database.
Written submission t3_adb12x to database.
Written submission t3_add39z to database.
Written submission t3_adeji9 to database.
Written submission t3_adh20h to database.
Written submission t3_adi17i to database.
Written submission t3_adi8vn to database.
Written submission t3_adldcm to database.
Written submission t3_adlftq to database.
Written submission t3_adlg9a to database.
Written submission t3_adnmfu to database.
Written submission t3_adnv45 to database.
Written submission t3_adsb9f to database.
Written submission t3_adt3s2 to database.
Written submission t3_adt3zz to database.
Written submission t3_adt48o to database.
Written submission t3_adt5z0 to database.
Written submission t3_adta6d to database.
Written submission t3_adtdvl to database.
Written submission t3_adtei5 to database.
Written submission t3_adtg3c to database.
Written submission t3_adtg4u to database.
Written submission t3_adtjkq to database.
Written submission t3_aduamz to database.
Written submission t3_adudkk to database.
Written submission t3_adudsm to database.
Written submission t3_adukce to database.
Written submission t3_advxac to database.
Written submission t3_adw7pr to database.
Written submission t3_adwdsu to database.
Written submission t3_adx0eq to database.
Written submission t3_adxnn0 to database.
Written submission t3_adxorc to database.
Written submission t3_adxtnv to database.
Written submission t3_adyapu to database.
Written submission t3_ae0bj8 to database.
Written submission t3_ae0o6i to database.
Written submission t3_ae0qly to database.
Written submission t3_ae3b1h to database.
Written submission t3_ae4lp3 to database.
Written submission t3_ae7blv to database.
Written submission t3_ae7fwk to database.
Written submission t3_ae87p8 to database.
Written submission t3_ae8whv to database.
Written submission t3_ae9mgg to database.
Written submission t3_aea0yx to database.
Written submission t3_aea1lx to database.
Written submission t3_aea7qa to database.
Written submission t3_aeaarx to database.
Written submission t3_aeaucj to database.
Written submission t3_aebbka to database.
Written submission t3_aebv0i to database.
Written submission t3_aeced3 to database.
Written submission t3_aed51x to database.
Written submission t3_aedhlu to database.
Written submission t3_aegtcf to database.
Written submission t3_aeh2i1 to database.
Written submission t3_aehias to database.
Written submission t3_aeigmp to database.
Written submission t3_aejhzs to database.
Written submission t3_aek1m0 to database.
Written submission t3_aekgl8 to database.
Written submission t3_ael1mj to database.
Written submission t3_aenfmn to database.
Written submission t3_aeo7d6 to database.
Written submission t3_aepixc to database.
Written submission t3_aes0yv to database.
Written submission t3_aesl7g to database.
Written submission t3_aetb4t to database.
Written submission t3_aetbno to database.
Written submission t3_aetc08 to database.
Written submission t3_aetc7b to database.
Written submission t3_aetdbn to database.
Written submission t3_aeucd9 to database.
Written submission t3_aev7sq to database.
Written submission t3_aewbkt to database.
Written submission t3_aexv4w to database.
Written submission t3_aey01w to database.
Written submission t3_aey0r6 to database.
Written submission t3_af0qz0 to database.
Written submission t3_af1qno to database.
Written submission t3_af2673 to database.
Written submission t3_af35dw to database.
Written submission t3_af3mhy to database.
Written submission t3_af49pe to database.
Written submission t3_af4fzo to database.
Written submission t3_af4rx9 to database.
Written submission t3_af4y0f to database.
Written submission t3_af61go to database.
Written submission t3_af67lh to database.
Written submission t3_af6zzh to database.
Written submission t3_af8jb7 to database.
Written submission t3_af9f25 to database.
Written submission t3_afaosy to database.
Written submission t3_afcapy to database.
Written submission t3_afe5zt to database.
Written submission t3_affcx6 to database.
Written submission t3_afgab1 to database.
Written submission t3_afhd6y to database.
Written submission t3_afhnnb to database.
Written submission t3_afhs8k to database.
Written submission t3_afl345 to database.
Written submission t3_afmx0i to database.
Written submission t3_ag5m91 to database.
Written submission t3_ag724u to database.
Written submission t3_ag7n5v to database.
Written submission t3_ag7x6u to database.
Written submission t3_ag8m0x to database.
Written submission t3_ag90g9 to database.
Written submission t3_agdjnj to database.
Written submission t3_agedfs to database.
Written submission t3_aggrdk to database.
Written submission t3_agicoh to database.
Written submission t3_agiu3z to database.
Written submission t3_agjll0 to database.
Written submission t3_agjt2x to database.
Written submission t3_agkji5 to database.
Written submission t3_aglgdr to database.
Written submission t3_agmm8l to database.
Written submission t3_agnanq to database.
Written submission t3_agnifl to database.
Written submission t3_agtoaz to database.
Written submission t3_agub30 to database.
Written submission t3_agulku to database.
Written submission t3_aguzbf to database.
Written submission t3_agv9ru to database.
Written submission t3_agvvx3 to database.
Written submission t3_agwf9j to database.
Written submission t3_agwjyv to database.
Written submission t3_agwo32 to database.
Written submission t3_agxwxc to database.
Written submission t3_agydzz to database.
Written submission t3_agygfh to database.
Written submission t3_agyjex to database.
Written submission t3_agyx89 to database.
Written submission t3_agz6t3 to database.
Written submission t3_ah0n1p to database.
Written submission t3_ah33zc to database.
Written submission t3_ah35ri to database.
Written submission t3_ah3ow8 to database.
Written submission t3_ah3vse to database.
Written submission t3_ah996e to database.
Written submission t3_ahbnte to database.
Written submission t3_ahbuue to database.
Written submission t3_ahc8sn to database.
Written submission t3_ahcl1r to database.
Written submission t3_ahcl93 to database.
Written submission t3_ahd4cg to database.
Written submission t3_ahf2mx to database.
Written submission t3_ahfkge to database.
Written submission t3_ahftjq to database.
Written submission t3_ahhrcy to database.
Written submission t3_ahijee to database.
Written submission t3_ahjqbp to database.
Written submission t3_ahjqvf to database.
Written submission t3_ahjx24 to database.
Written submission t3_ahlanz to database.
Written submission t3_ahpm5u to database.
Written submission t3_ahpqr2 to database.
Written submission t3_ahq09m to database.
Written submission t3_ahtqnr to database.
Written submission t3_ahusiz to database.
Written submission t3_ahvmbp to database.
Written submission t3_ahvw65 to database.
Written submission t3_ahwusr to database.
Written submission t3_ai0cyt to database.
Written submission t3_ai2r57 to database.
Written submission t3_ai3lud to database.
Written submission t3_ai51xx to database.
Written submission t3_ai8hpl to database.
Written submission t3_ai9efz to database.
Written submission t3_aiahjb to database.
Written submission t3_aiansz to database.
Written submission t3_aibayk to database.
Written submission t3_aic8xt to database.
Written submission t3_aickm1 to database.
Written submission t3_aidel5 to database.
Written submission t3_aifpb4 to database.
Written submission t3_aig7i6 to database.
Written submission t3_aiggtr to database.
Written submission t3_aija9t to database.
Written submission t3_aijwe7 to database.
Written submission t3_aiks5n to database.
Written submission t3_ailwtl to database.
Written submission t3_aime90 to database.
Written submission t3_aimffl to database.
Written submission t3_aiog8q to database.
Written submission t3_aipvl7 to database.
Written submission t3_aiqivh to database.
Written submission t3_aiqiwv to database.
Written submission t3_air7y4 to database.
Written submission t3_air9z1 to database.
Written submission t3_aiuhfu to database.
Written submission t3_aiuzrv to database.
Written submission t3_aiv49t to database.
Written submission t3_aiv8hr to database.
Written submission t3_aj0v85 to database.
Written submission t3_aj0vj7 to database.
Written submission t3_aj0zsp to database.
Written submission t3_aj1dsk to database.
Written submission t3_aj1hdc to database.
Written submission t3_aj1so2 to database.
Written submission t3_aj3ik7 to database.
Written submission t3_aj531x to database.
Written submission t3_aj72o8 to database.
Written submission t3_aj7tz1 to database.
Written submission t3_ajbbh8 to database.
Written submission t3_ajbl1n to database.
Written submission t3_ajbmsu to database.
Written submission t3_ajc5o4 to database.
Written submission t3_ajd2nm to database.
Written submission t3_ajdcsp to database.
Written submission t3_aje2vh to database.
Written submission t3_ajeg6c to database.
Written submission t3_ajfdql to database.
Written submission t3_ajgfad to database.
Written submission t3_ajm0gm to database.
Written submission t3_ajmbox to database.
Written submission t3_ajna93 to database.
Written submission t3_ajodyj to database.
Written submission t3_ajoerw to database.
Written submission t3_ajoz0h to database.
Written submission t3_ajpdrm to database.
Written submission t3_ajqw6d to database.
Written submission t3_aju05t to database.
Written submission t3_aju1va to database.
Written submission t3_aju3nd to database.
Written submission t3_ajucvb to database.
Written submission t3_ajwkb1 to database.
Written submission t3_ajyryu to database.
Written submission t3_ajyviz to database.
Written submission t3_ajzes5 to database.
Written submission t3_ak0jxw to database.
Written submission t3_ak2ib5 to database.
Written submission t3_ak3vx6 to database.
Written submission t3_ak5y31 to database.
Written submission t3_ak5zse to database.
Written submission t3_ak71h2 to database.
Written submission t3_ak7709 to database.
Written submission t3_ak7dvx to database.
Written submission t3_ak9l07 to database.
Written submission t3_ak9tel to database.
Written submission t3_ak9ytl to database.
Written submission t3_akdoop to database.
Written submission t3_akgtud to database.
Written submission t3_akgzmq to database.
Written submission t3_aki2h4 to database.
Written submission t3_akivmx to database.
Written submission t3_akjuyv to database.
Written submission t3_akl8ry to database.
Written submission t3_akl98l to database.
Written submission t3_akmt0w to database.
Written submission t3_aknzp6 to database.
Written submission t3_akoole to database.
Written submission t3_akpox2 to database.
Written submission t3_akpt2s to database.
Written submission t3_akr1mo to database.
Written submission t3_akr7ga to database.
Written submission t3_akrpjd to database.
Written submission t3_akuhyu to database.
Written submission t3_akvepn to database.
Written submission t3_akvr08 to database.
Written submission t3_akxwod to database.
Written submission t3_akya5s to database.
Written submission t3_al01e8 to database.
Written submission t3_al1f2f to database.
Written submission t3_al29mh to database.
Written submission t3_al2apb to database.
Written submission t3_al3jzp to database.
Written submission t3_al4yvg to database.
Written submission t3_al53fn to database.
Written submission t3_al53fr to database.
Written submission t3_al5giw to database.
Written submission t3_al5iii to database.
Written submission t3_al677l to database.
Written submission t3_al67y0 to database.
Written submission t3_al6tie to database.
Written submission t3_al78wk to database.
Written submission t3_al7n6p to database.
Written submission t3_alago7 to database.
Written submission t3_ale0bu to database.
Written submission t3_alepd9 to database.
Written submission t3_alf01e to database.
Written submission t3_alfh0e to database.
Written submission t3_algrmn to database.
Written submission t3_algxra to database.
Written submission t3_algyi2 to database.
Written submission t3_alij5f to database.
Written submission t3_alimi8 to database.
Written submission t3_alimvc to database.
Written submission t3_aljd7y to database.
Written submission t3_alju5m to database.
Written submission t3_aljyw4 to database.
Written submission t3_allvfc to database.
Written submission t3_alm8bm to database.
Written submission t3_almkvm to database.
Written submission t3_aln8a5 to database.
Written submission t3_alnar4 to database.
Written submission t3_aloe3m to database.
Written submission t3_aloe8p to database.
Written submission t3_alq3fc to database.
Written submission t3_alqdgt to database.
Written submission t3_alr67p to database.
Written submission t3_als4ir to database.
Written submission t3_aluwya to database.
Written submission t3_aluxnm to database.
Written submission t3_alwd4q to database.
Written submission t3_alz69j to database.
Written submission t3_alzmvl to database.
Written submission t3_alzwkn to database.
Written submission t3_am18hx to database.
Written submission t3_am337y to database.
Written submission t3_am3dp6 to database.
Written submission t3_am3jbz to database.
Written submission t3_am4k8p to database.
Written submission t3_am64cb to database.
Written submission t3_am86jq to database.
Written submission t3_am87dj to database.
Written submission t3_ambs22 to database.
Written submission t3_amclzc to database.
Written submission t3_amcof4 to database.
Written submission t3_ametr2 to database.
Written submission t3_amg7nz to database.
Written submission t3_amh7k8 to database.
Written submission t3_amivzy to database.
Written submission t3_amkbp2 to database.
Written submission t3_amky97 to database.
Written submission t3_aml04h to database.
Written submission t3_amlv8l to database.
Written submission t3_amnlz9 to database.
Written submission t3_amnq8w to database.
Written submission t3_amnsf6 to database.
Written submission t3_amo5lx to database.
Written submission t3_amoxgv to database.
Written submission t3_ampul7 to database.
Written submission t3_amszw5 to database.
Written submission t3_amtuzu to database.
Written submission t3_amtx9g to database.
Written submission t3_amu4mf to database.
Written submission t3_an1r1b to database.
Written submission t3_an1xc6 to database.
Written submission t3_an2gtz to database.
Written submission t3_an2wy0 to database.
Written submission t3_an380o to database.
Written submission t3_an6h76 to database.
Written submission t3_an8nxu to database.
Written submission t3_anarph to database.
Written submission t3_anatdu to database.
Written submission t3_anbhip to database.
Written submission t3_anbl9b to database.
Written submission t3_anc1ww to database.
Written submission t3_anc631 to database.
Written submission t3_ancpwf to database.
Written submission t3_andebh to database.
Written submission t3_andfx5 to database.
Written submission t3_anfp5a to database.
Written submission t3_anfp6c to database.
Written submission t3_anft5p to database.
Written submission t3_ang3ef to database.
Written submission t3_ang3wk to database.
Written submission t3_angwd2 to database.
Written submission t3_anhfuy to database.
Written submission t3_anhklp to database.
Written submission t3_anhlgy to database.
Written submission t3_anhz6i to database.
Written submission t3_aniuts to database.
Written submission t3_ankl0a to database.
Written submission t3_anpppp to database.
Written submission t3_anq0nl to database.
Written submission t3_anqen3 to database.
Written submission t3_anr1xt to database.
Written submission t3_anrqii to database.
Written submission t3_ansb2j to database.
Written submission t3_antn8c to database.
Written submission t3_antrog to database.
Written submission t3_antvzz to database.
Written submission t3_anwd47 to database.
Written submission t3_any5n6 to database.
Written submission t3_anzjya to database.
Written submission t3_anzvpr to database.
Written submission t3_ao0xyq to database.
Written submission t3_ao1gqu to database.
Written submission t3_ao1jng to database.
Written submission t3_ao1jqg to database.
Written submission t3_ao2x5v to database.
Written submission t3_ao31l1 to database.
Written submission t3_ao3dc3 to database.
Written submission t3_ao42wc to database.
Written submission t3_ao5nai to database.
Written submission t3_ao5re6 to database.
Written submission t3_ao5vun to database.
Written submission t3_ao5zlw to database.
Written submission t3_ao6yjq to database.
Written submission t3_ao8pz7 to database.
Written submission t3_ao8ua7 to database.
Written submission t3_ao8yk7 to database.
Written submission t3_aoclk7 to database.
Written submission t3_aodbtb to database.
Written submission t3_aoewl0 to database.
Written submission t3_aofge6 to database.
Written submission t3_aofhy4 to database.
Written submission t3_aog37t to database.
Written submission t3_aogb36 to database.
Written submission t3_aognw2 to database.
Written submission t3_aogpq5 to database.
Written submission t3_aogu90 to database.
Written submission t3_aohs4f to database.
Written submission t3_aoj7ne to database.
Written submission t3_aojase to database.
Written submission t3_aojgtq to database.
Written submission t3_aojlbo to database.
Written submission t3_aojryo to database.
Written submission t3_aojw9k to database.